{%extends "template.html"%}
{%block label%}Single Elimination Rooms{%endblock%}
{%block title%}Single Elimination Rooms{%endblock%}
{%block content%}

<h4>Tournament Room list:</h4>
{%with messages = get_flashed_messages()%}
    {%if messages%}
        {%for msg in messages%}
            <p>{{msg}} </p>
        {%endfor%}
    {%endif%}
{%endwith%}
<form action="#" method="post">
    <p><input type = 'text' name = 'room_num'/></p>
<button type="submit" name = "room_sub">Join This Room </button>
<button type="submit" name = "new_room">Create New Room </button>

{%endblock%}