{%extends "template.html"%}
{%block label%}Tournament Waiting Room{%endblock%}
{%block title%}Tournament Waiting Room{%endblock%}
{%block content%}
{%with messages = get_flashed_messages(category_filter = ["welcome"])%}
    {%if messages%}
        {%for msg in messages%}
            <p>{{msg}} </p>
        {%endfor%}
    {%endif%}
{%endwith%}
<form action = '#' method = 'post'>
    <button type="submit" name = "ready">Ready to play</button>
</form>
{% if session["room"] == session["admin_of"] %}
<form action = '#' method = 'post'>
    <button type = "submit" name = "start_tourney">Start Tournament</button>
</form>
{% endif %}
{% if session["ready"] == True%}
    <h1>READY</h1>
{% endif %}
{%with messages = get_flashed_messages(category_filter = ["winner"])%}
    {%if messages%}
        {%for msg in messages%}
            <p>{{msg}} </p>
        {%endfor%}
    {%endif%}
{%endwith%}
{%with messages = get_flashed_messages(category_filter = ["pairings"])%}
    {%if messages%}
        {%for msg in messages%}
            <p>{{msg}} </p>
        {%endfor%}
    {%endif%}
{%endwith%}

{%with messages = get_flashed_messages(category_filter = ["issues"])%}
    {%if messages%}
        {%for msg in messages%}
            <p>{{msg}} </p>
        {%endfor%}
    {%endif%}
{%endwith%}
{% if session["p1"] != None and session["p2"] != None %}
<form action = '#' method = 'post'>
    <p> User Wins:</p>
    <p><input type = 'text' name = 'wins'/></p>
    <p> User Losses:</p>
    <p><input type = 'text' name = 'losses'/></p>
    <button type = "submit" name = "report">Report</button>
</form>
{% endif %}

<h5> Player List: </h5>
{%with messages = get_flashed_messages(category_filter = ["player_list"])%}
    {%if messages%}
        {%for msg in messages%}
            <p>{{msg}} </p>
        {%endfor%}
    {%endif%}
{%endwith%}
<form action = '#' method = 'post'>
    <button type="submit" name = "leave">Leave Room</button>
</form>
{%endblock%}

