{%extends "template.html"%}
{%block label%}Tournament Waiting Room{%endblock%}
{%block title%}Tournament Waiting Room{%endblock%}
{%block content%}
{%with messages = get_flashed_messages(category_filter = ["welcome"])%}
    {%if messages%}
        {%for msg in messages%}
            <p>{{msg}} </p>
        {%endfor%}
    {%endif%}
{%endwith%}
<form action = '#' method = 'post'>
    <button type="submit" name = "ready">Ready to play</button>
</form>
{% if session["room"] in session["admin_of"] %}
<form action = '#' method = 'post'>
    <button type = "submit" name = "start_tourney">Start Tournament</button>
</form>
{% endif %}
{%with messages = get_flashed_messages(category_filter = ["pairings"])%}
    {%if messages%}
        {%for msg in messages%}
            <p>{{msg}} </p>
        {%endfor%}
    {%endif%}
{%endwith%}

<h5> Player List: </h5>
{%with messages = get_flashed_messages(category_filter = ["player_list"])%}
    {%if messages%}
        {%for msg in messages%}
            <p>{{msg}} </p>
        {%endfor%}
    {%endif%}
{%endwith%}

{%endblock%}